.page{
  min-width:1002px;
}
body{
  font: 14px/1.5 "Microsoft Yahei";
  color:#666;
}
a{
    color:$color;
  }
  a:hover{
    color:$linkcolor;
  }
  time{
    @include font(12px,#999);
  }
#article{
  margin-left:208px;
}
.wrap-container{
  @include totalcenter;
}