#paging{
  nav{
   overflow: hidden;
   text-align: center;
  }
  ul,span{
   @include inline-block;
  }
  ul{
    font-size:0;
    padding:0 30px;
  }
 li{
  @include inline-block;
  font-size:14px;
  width:32px;
  height:22px;
 text-align: center;
 margin-left:5px;
  &.on{
   background:#094e99;  
   a{
    color:#fff;
    display: block;
   }
  }
 }
 span{
  @include inline-block;
  font-size:0;
  position: relative;
  width:20px;
  height:20px;
  vertical-align: top;
  cursor: pointer;
 }
 .prev{ 
  background:url(../image/prev.png) no-repeat center;
 }
 .next{
  background:url(../image/next.png) no-repeat center;
 }
}