.side-menu{
  width:200px;
  float:left;
  h3{
    @include line-height(53px);
    color:#fff;
    text-align: center;
    background:#094f9b;
    font-size:24px;
  }
  @at-root .side-nav{
    padding:8px 0px;
    color:#333;
    background:transparent url('image.png') left top no-repeat;
    dl{
      padding:0 25px;
    }
    dl.on{
      background:url(../image/sub_dl.png) no-repeat 0 15px;
      dt a{
       color:#094d98;
      }
      dd{
        display:block;
      }
    }
    dt{
      @include line-height(44px);
      background:url(../image/dl_bg.png) repeat-x left bottom;
      cursor: pointer;
      a{
        display: block;
      }
      &:hover a{
       color:#094d98;
      }
    }
    dd{
      display: none;
      a{
        display: block;
        @include line-height(36px);
        padding-left:23px;
        &.on,&:hover{
          background:url(../image/dd_bg.png) no-repeat 5px center;
          color:$linkcolor;
        }
      }
    }
  }
}