<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>首页</title>
    <meta name="keywords" content="华能岳阳，电厂">
    <!--关键词,5个左右,单个8汉字以内-->
    <meta name="description" content="华能岳阳电厂">
    <!--网站描述，字数尽量空制在80个汉字，160个字符以内！-->
    <link rel="Shortcut Icon" href="/favicon.ico">
    <link rel="stylesheet" href="../Css/index.css">
    <!--jquery-->
    <script src="../jQuery/jquery.min.js"></script>
    <script src="../jQuery/Echarts/dist/echarts.js"></script>
    <!--[if lt IE 9]>
      <script src="../jQuery/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../Js/common.js"></script> 
    <script src="../Js/index.js"></script>   
</head>

<body class="page">
    <form action="#">
    <div class="wrap-header">
        <!--# 这里是topbar-->
        <aside id="topbar">
            <div class="inner-topbar">
                <p class="topbar-welcome">欢迎进入华能电厂！</p>
            </div>
        </aside>
        <!--/ 这里是topbar-->
        <!--# 这里是头部-->
        <header id="header">
            <div class="inner-header">
                <h1><a href=""><img src="../Upload/logo.png" alt="华能岳阳电厂"></a></h1>
                <h2>华能岳阳电厂</h2>
                <ul class="header-menus">
                    <li><a href="">配置帮助</a>|</li>
                    <li><a href="">设为首页</a>|</li>
                    <li><a href="">高级搜索</a></li>
                </ul>
                
                    <div class="header-form">
                    <fieldset>
                        <input type="text">
                        <button>搜索</button>
                    </fieldset>
                </div>
                
                
            </div>
        </header>
         <div id="show-slide">
            <div class="inner-show-slide">
                <div class="show-slide-list">
                    <!--# 循环体 -->
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                    <!--/ 循环体 -->
                    <!--# 做动态程序时，可以删除的代码 -->
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
        <nav id="nav">
            <div class="inner-nav">
                <ul class="nav-one">
                    <li><a href="">首页</a></li>
                    <li><a href="">通知公告</a>
                      <ul class="nav-two">
                          <li><a href="">二级导航</a></li>
                          <li><a href="">二级导航</a></li>
                      </ul>
                    </li>
                    <li><a href="">企业概况</a>
                     <ul class="nav-two">
                          <li><a href="">二级导航</a></li>
                          <li><a href="">二级导航</a></li>
                      </ul>
                    </li>
                    <li><a href="">新闻中心</a></li>
                    <li><a href="">生产管理</a></li>
                    <li><a href="">行政管理</a></li>
                    <li><a href="">政工之窗</a></li>
                    <li><a href="">人力资源</a></li>
                    <li><a href="">公共信息</a></li>
                    <li><a href="">三期工程</a></li>
                    <li><a href="">应用导航</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="wrap-container">
        <div class="main-body">
            <div id="current">
                <div class="inner-current">
                <p class="current-time"><span>2015年10月10日</span>
                    <span>农历八月</span>
                    <span>星期六</span>
                    <span>15:26:05</span>
                </p>
                <figure class="current-weather">
                    <img src="../Upload/weather_cloudy.png" alt="">
                    <figcaption>
                        <dl>
                            <dt>天气：</dt>
                            <dd>多云转阴</dd>
                            <dt>气温：</dt>
                            <dd>23~17</dd>
                        </dl>
                    </figcaption>
                </figure>
            </div>
            </div>
            <figure class="show-us">
                <figcaption>展示我们</figcaption>
                <img src="../Upload/show_us.png" alt="">
            </figure>
            <div class="guide">
                <div class="inner-guide">
                    <section id="guide-show">
                        <div class="inner-guide-show">
                            <header class="guide-show-title">
                            <h3>要闻展示</h3>
                        </header>
                        <div class="guide-show-content">
                            <figure>
                                <a href=""><img src="../Upload/guide_show1.png" alt=""></a>
                                <figcaption>
                                    <a href="">我厂参与岳阳市抗战成立70周年大合唱</a>
                                </figcaption>
                            </figure>
                            <figure>
                                <a href=""><img src="../Upload/guide_show1.png" alt=""></a>
                                <figcaption>
                                    <a href="">我厂参与岳阳市抗战成立70周年大合唱</a>
                                </figcaption>
                            </figure>
                            <figure>
                                <a href=""><img src="../Upload/guide_show1.png" alt=""></a>
                                <figcaption>
                                    <a href="">我厂参与岳阳市抗战成立70周年大合唱</a>
                                </figcaption>
                            </figure>
                            <figure>
                                <a href=""><img src="../Upload/guide_show1.png" alt=""></a>
                                <figcaption>
                                    <a href="">我厂参与岳阳市抗战成立70周年大合唱</a>
                                </figcaption>
                            </figure>
                            <figure>
                                <a href=""><img src="../Upload/guide_show1.png" alt=""></a>
                                <figcaption>
                                    <a href="">我厂参与岳阳市抗战成立70周年大合唱</a>
                                </figcaption>
                            </figure>
                        </div>
                        <nav class="guide-show-page">
                            <ul>
                              
                            </ul>
                        </nav>
                        </div>                        
                    </section>
                    <section id="guide-list">
                        <div class="inner-guide-list">
                           <header class="guide-list-title">
                            <h3>要闻导读</h3>
                        </header>
                        <div class="guide-list-content">
                            <figure class="guide-list-headline">
                                <figcaption><a href="">华能成功抵御台风</a></figcaption>
                                <p>10月4日14时10分，1949年以来登录广东最强的台风“彩虹”在湛江沿海登陆，登陆时中心风力最大15级，广东湛江等9市14个县不同程序受灾。面对极端恶劣...</p>
                            </figure>
                            <ul>
                                <li  class="guide-list-item"><a href="">华能成功抵御台风</a>
                                    <time datetime="09-23">09-23</time>
                                </li>
                                <li class="guide-list-item"><a href="">华能成功抵御台风</a>
                                    <time datetime="09-23">09-23</time>
                                </li>
                                <li class="guide-list-item"><a href="">华能成功抵御台风</a>
                                    <time datetime="09-23">09-23</time>
                                </li>
                                <li class="guide-list-item"><a href="">华能成功抵御台风</a>
                                    <time datetime="09-23">09-23</time>
                                </li>
                                <li class="guide-list-item"><a href="">华能成功抵御台风</a>
                                    <time datetime="09-23">09-23</time>
                                </li>
                            </ul>
                        </div> 
                        </div>                        
                    </section>
                </div>
            </div>
            <section id="news">
                <div class="inner-news">
                    <header class="news-title">
                        <h3>新闻中心</h3>
                        <nav class="news-tab">
                            <ul>
                                <li class="on">文件专栏</li>
                                <li>岳电动态</li>
                                <li>综合新闻</li>
                            </ul>
                        </nav>
                    </header>
                    <div class="news-contain">
                    <div class="news-content">
                        <div class="news-headline">
                            <figure class="news-headline-content">
                                <figcaption class="news-headline-title">
                                    <a href="">2015年9月安全监察通报</a>
                                </figcaption>
                                <time datetime="2015-09-23">2015-09-23</time>
                                <p class="news-headline-aticle"><a href="">外媒报道一艘中国军舰靠近叙
利亚海域，有媒体甚至猜测...</a></p>
                               <a href=""><img src="../Upload/new1.png" alt=""></a>
                            </figure>
                            <figure class="news-headline-content">
                                <figcaption class="news-headline-title">
                                    <a href="">2015年9月安全监察通报</a>
                                </figcaption>
                                <time datetime="2015-09-23">2015-09-23</time>
                                <p class="news-headline-aticle"><a href="">外媒报道一艘中国军舰靠近叙
利亚海域，有媒体甚至猜测...</a></p>
                               <a href=""><img src="../Upload/new1.png" alt=""></a>
                            </figure>
                        </div>
                        <div class="news-detail">
                            <ul class="news-detail-list">
                                <li><a href="">我厂荣获岳阳市2014年度全市挡...  </a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="news-headline">
                            <figure class="news-headline-content">
                                <figcaption class="news-headline-title">
                                    <a href="">2015年9月安全监察通报</a>
                                </figcaption>
                                <time datetime="2015-09-23">2015-09-23</time>
                                <p class="news-headline-aticle"><a href="">外媒报道一艘中国军舰靠近叙
利亚海域，有媒体甚至猜测...</a></p>
                               <img src="../Upload/new1.png" alt="">
                            </figure>
                            <figure class="news-headline-content">
                                <figcaption class="news-headline-title">
                                    <a href="">2015年9月安全监察通报</a>
                                </figcaption>
                                <time datetime="2015-09-23">2015-09-23</time>
                                <p class="news-headline-aticle"><a href="">外媒报道一艘中国军舰靠近叙
利亚海域，有媒体甚至猜测...</a></p>
                               <img src="../Upload/new1.png" alt="">
                            </figure>
                        </div>
                        <div class="news-detail">
                            <ul class="news-detail-list">
                                <li><a href="">我厂荣获岳阳市2014年度全市挡...  </a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="news-headline">
                            <figure class="news-headline-content">
                                <figcaption class="news-headline-title">
                                    <a href="">2015年9月安全监察通报</a>
                                </figcaption>
                                <time datetime="2015-09-23">2015-09-23</time>
                                <p class="news-headline-aticle"><a href="">外媒报道一艘中国军舰靠近叙
利亚海域，有媒体甚至猜测...</a></p>
                               <img src="../Upload/new1.png" alt="">
                            </figure>
                            <figure class="news-headline-content">
                                <figcaption class="news-headline-title">
                                    <a href="">2015年9月安全监察通报</a>
                                </figcaption>
                                <time datetime="2015-09-23">2015-09-23</time>
                                <p class="news-headline-aticle"><a href="">外媒报道一艘中国军舰靠近叙
利亚海域，有媒体甚至猜测...</a></p>
                               <img src="../Upload/new1.png" alt="">
                            </figure>
                        </div>
                        <div class="news-detail">
                            <ul class="news-detail-list">
                                <li><a href="">我厂荣获岳阳市2014年度全市挡...  </a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">黄永达书记在集团公司2011年工作汇报</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                                <li><a href="">运行部朱双燕等3名职工在省电力技术竞...</a>
                                    <time datetime="2015-09-23">2015-09-23</time>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <span class="more"><a href="">更多</a></span>
                </div>
            </section>
            <div class="product">
                <div class="inner-product">
                    <section id="load">
                        <div class="inner-load">
                           <header class="load-title">
                            <h3>机组负荷</h3>
                        </header>
                        <div class="load-content">
                            <figure class="load-detail">
                                <div class="load-chart">
                                    <div id="main" style="height:265px; width:400px;margin-left:-30px;margin-top:-30px;"></div>
                                </div>
                                <figcaption>
                                    <p>机组总负荷<span class="load-add">+</span></p>
                                    
                                </figcaption>
                            </figure>
                            <ul class="load-list">
                            <li class="load-item">#1号机<span class="load-item-add">+</span></li>
                            <li class="load-item">#1号机<span class="load-item-add">+</span></li>
                            <li class="load-item">#1号机<span class="load-item-add">+</span></li>
                            <li class="load-item">#1号机<span class="load-item-add">+</span></li>
                            <li class="load-item">#1号机<span class="load-item-add">+</span></li>
                            <li class="load-item">#1号机<span class="load-item-add">+</span></li>    
                            </ul>
                        </div> 
                        </div>                        
                    </section>
                    <section id="statistics">
                        <div class="inner-statistics">
                           <header class="statistics-title">
                            <h3>生产指标统计</h3>
                        </header>
                        <div class="statistics-content">
                            <div class="statistics-table">
                               <dl>
                                   <dt>#1机发电量</dt>
                                   <dd><em>0</em>万千瓦时</dd>
                               </dl>
                               <dl>
                                   <dt>#1机发电量</dt>
                                   <dd><em>0</em>万千瓦时</dd>
                               </dl>
                               <dl>
                                   <dt>#1机发电量</dt>
                                   <dd><em>0</em>万千瓦时</dd>
                               </dl>
                               <dl>
                                   <dt>#1机发电量</dt>
                                   <dd><em>0</em>万千瓦时</dd>
                               </dl>
                               <dl>
                                   <dt>#1机发电量</dt>
                                   <dd><em>0</em>万千瓦时</dd>
                               </dl>
                               <dl>
                                  <dt>#1机发电量</dt>
                                   <dd><em>0</em>万千瓦时</dd>
                               </dl>
                            </div>
                            <div class="statistics-detail">
                                <dl>
                                    <dt>
                                        日发电量（万千瓦时）</dt>
                                        <dd>938.9188</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                        日发电量（万千瓦时）</dt>
                                        <dd>938.9188</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                        日发电量（万千瓦时）</dt>
                                        <dd>938.9188</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                        日发电量（万千瓦时）</dt>
                                        <dd>938.9188</dd>
                                    </dl>
                            </div>
                        </div>
                        <span class="more"><a href="">更多</a></span> 
                        </div>
                    </section>
                </div>
            </div>
            <section id="department">
                <div class="inner-department">
                    <header class="department-title">
                    <h3>部门中心</h3>
                </header>
                <div class="department-content">
                    <figure class="department-item">
                        <figcaption class="department-item-title">
                            <p>生产管理</p>
                        </figcaption>
                        <img src="../Upload/department_item1.png" alt="">
                        <ul class="department-item-list">
                            <li><a href="">2015年安全简报第八期</a></li>
                            <li><a href="">2015年安全简报第八期</a></li>
                            <li><a href="">2015年安全简报第八期</a></li>
                         
                        </ul>
                    </figure>
                    <figure class="department-item">
                        <figcaption class="department-item-title">
                            <p>生产管理</p>
                        </figcaption>
                        <img src="../Upload/department_item2.png" alt="">
                        <ul class="department-item-list">
                            <li><a href="">2015年安全简报第八期</a></li>
                            <li><a href="">2015年安全简报第八期</a></li>
                            <li><a href="">2015年安全简报第八期</a></li>
                      
                        </ul>
                    </figure>
                    <figure class="department-item">
                        <figcaption class="department-item-title">
                            <p>生产管理</p>
                        </figcaption>
                        <img src="../Upload/department_item3.png" alt="">
                        <ul class="department-item-list">
                            <li><a href="">2015年安全简报第八期</a></li>
                            <li><a href="">2015年安全简报第八期</a></li>
                            <li><a href="">2015年安全简报第八期</a></li>
                          
                        </ul>
                    </figure>
                    <figure class="department-item">
                        <figcaption class="department-item-title">
                            <p>生产管理</p>
                        </figcaption>
                        <img src="../Upload/department_item4.png" alt="">
                        <ul class="department-item-list">
                            <li><a href="">2015年安全简报第八期</a></li>
                            <li><a href="">2015年安全简报第八期</a></li>
                            <li><a href="">2015年安全简报第八期</a></li>
                      
                        </ul>
                    </figure>
                </div>
                <span class="more"><a href="">更多</a></span>
                </div>
            </section>
        </div>
        <div class="side-body">
            <section id="inform">
                <div class="inner-inform">
                    <header class="inform-title">
                    <h3>通知公告</h3>
                </header>
                <div class="inform-content">
                    <ul>
                        <li>
                            <a href="">《华能国际》第五期约稿通知</a>
                            <time datetime="09-23">09-23</time>
                        </li>
                        <li>
                            <a href="">《华能国际》第五期约稿通知</a>
                            <time datetime="09-23">09-23</time>
                        </li>
                        <li>
                            <a href="">《华能国际》第五期约稿通知</a>
                            <time datetime="09-23">09-23</time>
                        </li>
                        <li>
                            <a href="">《华能国际》第五期约稿通知</a>
                            <time datetime="09-23">09-23</time>
                        </li>
                        <li>
                            <a href="">《华能国际》第五期约稿通知</a>
                            <time datetime="09-23">09-23</time>
                        </li>
                    </ul>
                </div>
                </div>
                
            </section>
            <section id="system">
                <div class="inner-system">
                  <header class="system-title">
                    <h3>信息系统</h3>
                </header>
                <div class="system-content">
                    <figure class="system-item">
                        <a href=""><img src="../Upload/system_item1.png" alt=""></a>
                        <figcaption class="system-item-title"><a href="">图纸资料管理系统</a></figcaption>
                    </figure>
                    <figure class="system-item">
                        <a href=""><img src="../Upload/system_item1.png" alt=""></a>
                        <figcaption class="system-item-title"><a href="">图纸资料管理系统</a></figcaption>
                    </figure>
                    <figure class="system-item">
                        <a href=""><img src="../Upload/system_item1.png" alt=""></a>
                        <figcaption class="system-item-title"><a href="">图纸资料管理系统</a></figcaption>
                    </figure>
                    <figure class="system-item">
                        <a href=""><img src="../Upload/system_item1.png" alt=""></a>
                        <figcaption class="system-item-title"><a href="">图纸资料管理系统</a></figcaption>
                    </figure>
                    <figure class="system-item">
                        <a href=""><img src="../Upload/system_item1.png" alt=""></a>
                        <figcaption class="system-item-title"><a href="">图纸资料管理系统</a></figcaption>
                    </figure>
                    <figure class="system-item">
                        <a href=""><img src="../Upload/system_item1.png" alt=""></a>
                        <figcaption class="system-item-title"><a href="">图纸资料管理系统</a></figcaption>
                    </figure>
                    <figure class="system-item">
                        <a href=""><img src="../Upload/system_item1.png" alt=""></a>
                        <figcaption class="system-item-title"><a href="">图纸资料管理系统</a></figcaption>
                    </figure>
                    <figure class="system-item">
                        <a href=""><img src="../Upload/system_item1.png" alt=""></a>
                        <figcaption class="system-item-title"><a href="">图纸资料管理系统</a></figcaption>
                    </figure>
                </div>
                <span class="system-upload">
                           <a href="">项目一体化客户端</a>
                       </span>  
                </div>
                
            </section>
            <section id="column">
                <div class="inner-column">
                    <header class="column-title">
                    <h3>专栏</h3>
                </header>
                <div class="column-content">
                    <figure class="column-item">                       
                        <a href=""><img src="../Upload/column_item1.png" alt=""></a>
                        <figcaption><a href="">供热工作专题</a></figcaption>
                    </figure>
                    <figure class="column-item">                       
                        <a href=""><img src="../Upload/column_item1.png" alt=""></a>
                        <figcaption><a href="">供热工作专题</a></figcaption>
                    </figure>
                    <figure class="column-item">                       
                        <a href=""><img src="../Upload/column_item1.png" alt=""></a>
                        <figcaption><a href="">供热工作专题</a></figcaption>
                    </figure>
                    <figure class="column-item">                       
                        <a href=""><img src="../Upload/column_item1.png" alt=""></a>
                        <figcaption><a href="">供热工作专题</a></figcaption>
                    </figure>
                </div>
                </div>
                
            </section>
            <section id="flink">
                <div class="inner-flink">
                    <header class="flink-title">
                    <h3>友情图片链接</h3>
                </header>
                <div class="flink-content">
                    <figure class="flink-item">
                        <figcaption><a href="">华能岳电报</a></figcaption>
                        <a href=""><img src="../Upload/flink_item1.png" alt=""></a>
                    </figure>
                     <figure class="flink-item">
                        <figcaption><a href="">华能岳电报</a></figcaption>
                        <a href=""><img src="../Upload/flink_item1.png" alt=""></a>
                    </figure>
                     <figure class="flink-item">
                        <figcaption><a href="">华能岳电报</a></figcaption>
                        <a href=""><img src="../Upload/flink_item1.png" alt=""></a>
                    </figure>
                </div>
                </div>
                
            </section>
        </div>
    </div>
    <div class="wrap-footer">
        <section id="link">
            <div class="inner-link">
                <header class="link-title">
                <h3>友情链接</h3>
            </header>
            <div class="link-content">
                <ul>
                    <li><a href="">华能国际电力股份有限公司</a></li>
                    <li><a href="">华能江苏分公司</a></li>
                    <li><a href="">华能江苏分公司</a></li>
                    <li><a href="">华能江苏分公司</a></li>
                    <li><a href="">华能江苏分公司</a></li>
                    <li><a href="">华能江苏分公司</a></li>
                </ul>
            </div>
            </div>           
        </section>
        <nav class="footer-nav">
            <ul>
                <li><a href="">网站后台管理系统 </a>|</li>
                <li><a href="">网站后台管理系统 </a>|</li>
                <li><a href="">网站后台管理系统 </a></li>
            </ul>
        </nav>
        <footer id="footer">
            <p class="footer-info">Copyright&copy;All Rights Reserved<a href="">华能岳阳电厂</a> 版权所有</p>
            <p class="footer-total">累计已有<em>4545456</em>位访问者</p>
        </footer>
    </div>
    </form>

</body>

</html>
