<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>列表三</title>
    <meta name="keywords" content="华能岳阳，电厂">
    <!--关键词,5个左右,单个8汉字以内-->
    <meta name="description" content="华能岳阳电厂">
    <!--网站描述，字数尽量空制在80个汉字，160个字符以内！-->
    <link rel="Shortcut Icon" href="/favicon.ico">
    <link rel="stylesheet" href="../Css/list3.css">
    <!--jquery-->
    <script src="../jQuery/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="../jQuery/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../Js/common.js"></script>
    <script src="../Js/index.js"></script>
</head>
<body class="page">
    <div class="wrap-header">
        <!--# 这里是topbar-->
        <aside id="topbar">
            <div class="inner-topbar">
                <p class="topbar-welcome">欢迎进入华能电厂！</p>
            </div>
        </aside>
        <!--/ 这里是topbar-->
        <!--# 这里是头部-->
        <header id="header">
            <div class="inner-header">
                <h1><a href=""><img src="../Upload/logo.png" alt="华能岳阳电厂"></a></h1>
                <h2>华能岳阳电厂</h2>
                <ul class="header-menus">
                    <li><a href="">配置帮助</a>|</li>
                    <li><a href="">设为首页</a>|</li>
                    <li><a href="">高级搜索</a></li>
                </ul>
                
                    <div class="header-form">
                    <fieldset>
                        <input type="text">
                        <button>搜索</button>
                    </fieldset>
                </div>              
            </div>
        </header>
         <div id="show-slide">
            <div class="inner-show-slide">
                <div class="show-slide-list">
                    <!--# 循环体 -->
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                    <!--/ 循环体 -->
                    <!--# 做动态程序时，可以删除的代码 -->
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                    <figure class="show-slide-item">
                        <a href=""><img src="../Upload/show_pic1.png" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
        <nav id="nav">
            <div class="inner-nav">
                <ul class="nav-one">
                    <li><a href="../view/index.html">首页</a></li>
                    <li><a href="">通知公告</a>
                      <ul class="nav-two">
                          <li><a href="../view/list1.html">列表一</a></li>
                          <li><a href="../view/list2.html">列表二</a></li>
                          <li><a href="../view/list3.html">列表二</a></li>
                          <li><a href="../view/intro.html">公司介绍</a></li>
                      </ul>
                    </li>
                    <li><a href="">企业概况</a>
                     <ul class="nav-two">
                          <li><a href="">二级导航</a></li>
                          <li><a href="">二级导航</a></li>
                      </ul>
                    </li>
                    <li><a href="">新闻中心</a></li>
                    <li><a href="">生产管理</a></li>
                    <li><a href="">行政管理</a></li>
                    <li><a href="">政工之窗</a></li>
                    <li><a href="">人力资源</a></li>
                    <li><a href="">公共信息</a></li>
                    <li><a href="">三期工程</a></li>
                    <li><a href="">应用导航</a></li>
                </ul>
            </div>
        </nav>
    </div>
            <div class="wrap-container">
                           <div id="pos">
    <div class="inner-pos">
        <p>
            <a href="/index.aspx">首页</a>&minus;<a href="">生产管理</a>&minus;<span>创业活动动态</span>
        </p>
    </div>
</div>
                <div class="main-body">
                  <aside class="side-menu">
                    <h3>生产管理</h3>
                   <nav class="side-nav">
                       <dl class="on">
                           <dt><a>安全信息</a></dt>
                           <dd>
                             <a href="" class="on">曝光台</a>
                             <a href="">曝光台</a>
                             <a href="">曝光台</a>
                           </dd>                         
                       </dl>
                       <dl>
                           <dt><a>安全信息</a></dt>
                           <dd>
                             <a href="">曝光台</a>
                             <a href="">曝光台</a>
                             <a href="">曝光台</a>
                           </dd>                         
                       </dl>
                       <dl>
                           <dt><a>安全信息</a></dt>
                           <dd>
                             <a href="">曝光台</a>
                             <a href="">曝光台</a>
                             <a href="">曝光台</a>
                           </dd>                         
                       </dl>
                       <dl>
                           <dt><a>安全信息</a></dt>
                           <dd>
                             <a href="">曝光台</a>
                             <a href="">曝光台</a>
                             <a href="">曝光台</a>
                           </dd>                         
                       </dl>
                   </nav>
                  </aside>  
                   <section id="article">
                       <div class="inner-article">
                        <header class="article-title">
                           <h3>创本活动动态</h3>
                        </header>
                       <div class="article-content">
                        <figure class="article-item">                         
                          <figcaption><a href="../view/detail.html">我厂荣获岳阳市“2014年度新农村建设帮扶工作”优胜单位</a></figcaption>
                          <dl><dt>文章时间：</dt><dd>2015-10-08&nbsp;16:05:07</dd><dt>浏览数：</dt><dd>198</dd></dl>
                          <p><a href="">颁奖仪式前，受公司党组书记黄永达委托，公司副总经理、党组成员孙智勇在公司总部与范志佺座谈，祝贺范志佺荣获全国道德模范提名奖，并代表公司党组向范志佺颁发了慰问...</a></p>
                          <span class="more"><a href="">more</a></span>
                          <a href="../view/detail.html">
                            <img src="../Upload/list3_img.png" alt="">
                          </a>
                        </figure>
                        <figure class="article-item">                         
                          <figcaption><a href="../view/detail.html">我厂荣获岳阳市“2014年度新农村建设帮扶工作”优胜单位</a></figcaption>
                          <dl><dt>文章时间：</dt><dd>2015-10-08&nbsp;16:05:07</dd><dt>浏览数：</dt><dd>198</dd></dl>
                          <p><a href="">颁奖仪式前，受公司党组书记黄永达委托，公司副总经理、党组成员孙智勇在公司总部与范志佺座谈，祝贺范志佺荣获全国道德模范提名奖，并代表公司党组向范志佺颁发了慰问...</a></p>
                          <span class="more"><a href="">more</a></span>
                          <a href="../view/detail.html">
                            <img src="../Upload/list3_img.png" alt="">
                          </a>
                        </figure>
                        <figure class="article-item">                         
                          <figcaption><a href="../view/detail.html">我厂荣获岳阳市“2014年度新农村建设帮扶工作”优胜单位</a></figcaption>
                          <dl><dt>文章时间：</dt><dd>2015-10-08&nbsp;16:05:07</dd><dt>浏览数：</dt><dd>198</dd></dl>
                          <p><a href="">颁奖仪式前，受公司党组书记黄永达委托，公司副总经理、党组成员孙智勇在公司总部与范志佺座谈，祝贺范志佺荣获全国道德模范提名奖，并代表公司党组向范志佺颁发了慰问...</a></p>
                          <span class="more"><a href="">more</a></span>
                          <a href="../view/detail.html">
                            <img src="../Upload/list3_img.png" alt="">
                          </a>
                        </figure>
                        <figure class="article-item">                         
                          <figcaption><a href="../view/detail.html">我厂荣获岳阳市“2014年度新农村建设帮扶工作”优胜单位</a></figcaption>
                          <dl><dt>文章时间：</dt><dd>2015-10-08&nbsp;16:05:07</dd><dt>浏览数：</dt><dd>198</dd></dl>
                          <p><a href="">颁奖仪式前，受公司党组书记黄永达委托，公司副总经理、党组成员孙智勇在公司总部与范志佺座谈，祝贺范志佺荣获全国道德模范提名奖，并代表公司党组向范志佺颁发了慰问...</a></p>
                          <span class="more"><a href="">more</a></span>
                          <a href="">
                            <img src="../Upload/list3_img.png" alt="">
                          </a>
                        </figure>
                       </div>
                       <div id="paging">
      <nav>
        <span class="prev">上一页</span>
        <ul>
          <li class="on"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
        </ul>
        <span class="next">下一页</span>
      </nav>
    </div>
                       </div>
                       
                          </section>
                </div>
            </div>
             <div class="wrap-footer">
        <nav class="footer-nav">
            <ul>
                <li><a href="">网站后台管理系统 </a>|</li>
                <li><a href="">网站后台管理系统 </a>|</li>
                <li><a href="">网站后台管理系统 </a></li>
            </ul>
        </nav>
        <footer id="footer">
            <p class="footer-info">Copyright&copy;All Rights Reserved<a href="">华能岳阳电厂</a> 版权所有</p>
            <p class="footer-total">累计已有<em>4545456</em>位访问者</p>
        </footer>
    </div>
        </body>